@layout('layouts/main')
@set('title', 'Home page')

@section('body')
  <div class="index">
    <a class="button" href="/bacon">More Bacon</a>
    or
    <a class="button" href="/checkout">Checkout</a>
  </div>
@end
