@layout('layouts/main')
@set('title', 'Success')

@section('body')
  <div class="success">
    <a href="/" class="button">
      Success
    </a>

    <div class="message">
      {{ message }}
    </div>
  </div>
@end
