@import '_variables.scss';
@import '_fonts.scss';
@import '_mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: Roboto, sans-serif;
}

main {
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.index {
  color: white;
  font-size: 22px;
}

a.button {
  text-decoration: none;

  padding: 14px 20px;
  text-align: center;
  @include button-props;
}

.success {
  color: $white;
  font-size: 22px;
  display: flex;
  flex-direction: column;

  .message {
    padding-top: 30px;
  }
}

.row {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--column-gap, 10px);
  row-gap: var(--row-gap, 0);
  box-sizing: border-box;
}

.col {
  flex-shrink: 0;
  grid-column-start: var(--start, 0);
  grid-column-end: span var(--size, 12);
  min-height: 0;
  min-width: 0;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 562px;
  margin-left: 30px;
}

label.input {
  letter-spacing: -0.1px;

  input,
  select {
    width: 100%;
    background-color: $input-background;
    color: $input-color;
    padding: 23px $input-padding-left 9px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: $border-radius;
    box-shadow: $input-shadow 0 2px;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.error {
      outline: 2px solid deeppink;
    }
  }

  &.perversed {
    input {
      padding: 25px $input-padding-left 7px;
    }

    .label {
      transform: translateY(8px) translateX($input-padding-left);
    }
  }

  input::placeholder {
    color: $input-placeholder;
    font-weight: 500;
  }

  .label {
    max-width: 200px;
    color: $input-label;
    position: absolute;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    transform: translateY(6px) translateX($input-padding-left);
  }

  .question-mark-icon {
    position: absolute;

    &::before {
      position: absolute;
      right: 0;
      padding: 16px 13px;
      font-size: 20px;
      color: $gainsboro;
      pointer-events: none;
    }
  }

  .chevron {
    position: absolute;

    &::before {
      position: absolute;
      right: 0;
      padding: 20px 17px;
      font-size: 12px;
      color: $darkCharcoal;
      pointer-events: none;
    }
  }

  .visa-icon::before {
    top: 11px;
    right: 15px;
    width: 38px;
    height: 30px;
    background: url('../svg/visa-icon.svg') center / contain no-repeat;
  }
}

i.icon {
  position: absolute;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
  }

  &.lock-icon {
    position: relative;

    &::before {
      top: 6px;
      left: 8px;
      width: 12px;
      height: 12px;
      background: url('../svg/lock.svg') center / contain no-repeat;
    }
  }
}

.checkout {
  max-width: 1024px;
  background-color: $checkout-background;
  padding: 13px 87px 38px;
  display: grid;
  column-gap: 12px;
  grid-template-columns: minmax(100px, 562px) minmax(100px, 275px);
  grid-template-rows: 43px 297px 44px 160px auto;
  grid-template-areas:
    'personal-h  ......'
    'personal    totals'
    'payment-h   totals'
    'payment     totals'
    'complete    totals';

  .personal-information-heading {
    grid-area: personal-h;
  }

  .personal-information {
    grid-area: personal;
  }

  .payment-details-heading {
    grid-area: payment-h;
  }

  .payment-details {
    grid-area: payment;
  }

  .totals {
    grid-area: totals;
  }

  .complete-purchase {
    grid-area: complete;
  }

  .personal-information-heading,
  .payment-details-heading {
    h5 {
      display: flex;
      font-weight: bold;
      font-size: 12px;
      line-height: 27px;
      text-transform: uppercase;
      word-spacing: -2px;
      letter-spacing: 0.85px;

      .circle {
        position: absolute;

        &::before {
          content: '';
          position: absolute;
          top: 2px;
          right: 10px;
          width: 20px;
          height: 20px;
        }
      }

      i {
        padding: 6px 16px;
        color: $icon-lock;
      }

      .number-one {
        &.circle::before {
          background: url('../svg/number-one.svg') center / contain no-repeat;
        }
      }

      .number-two {
        &.circle::before {
          background: url('../svg/number-two.svg') center / contain no-repeat;
        }
      }
    }
  }

  .personal-information {
    padding-bottom: 37px;
  }

  .payment-details {
    padding-bottom: 40px;
  }

  .complete-purchase {
    button {
      width: 100%;
      height: 50px;
      font-size: 13px;
      padding-top: 3px;

      @include button-props;

      i.shopping-cart {
        position: relative;
        margin-right: 14px;

        &::before {
          top: -4px;
          right: -9px;
          width: 20px;
          height: 20px;
          background: url('../svg/shopping-cart.svg') center / contain no-repeat;
        }
      }
    }
  }

  .totals {
    max-width: 275px;
    height: max-content;
    color: $totals-color;
    font-weight: 500;
    letter-spacing: 0;
    background-color: $total-background-color;
    border-radius: $border-radius;
    padding: 5px;

    > * {
      width: 100%;
      height: 100%;
      border: 1px dashed $totals-dashed-line-color;
      border-radius: $border-radius;
      padding: 14px 12px 33px 13px;

      h5 {
        font-size: 11px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 7px;
      }

      .order {
        font-size: 12px;

        :nth-child(2n) {
          text-align: right;
        }

        &.details {
          padding-top: 9px;
        }

        &.summary {
          padding-top: 13px;
          letter-spacing: -0.1px;
        }

        &.total {
          padding-top: 13px;
          font-weight: bold;

          :nth-child(2n) {
            font-size: 22px;
          }
        }
      }

      .details-divider {
        padding-top: 24px;
      }

      .summary-divider {
        padding-top: 15px;
      }

      hr {
        border: 0;
        height: 1px;

        &.details {
          border-top: 1px dashed #dcdcdc;
        }

        &.summary {
          border: none;
          height: 0.15em;
          background: $brightGray;
          background: repeating-linear-gradient(
            90deg,
            $brightGray,
            $brightGray 3px,
            transparent 1px,
            transparent 6px
          );
        }
      }
    }
  }
}
