<form action="/order" method="POST" id="order-form" style="display: none" novalidate></form>
<div class="checkout">
  @!component('components/order/personal-information-heading')
  @!component('components/order/personal-information')
  @!component('components/order/payments-details-heading')
  @!component('components/order/payments-details')
  @!component('components/order/complete-purchase')
  @!component('components/order/totals', { cart })
</div>